<% provide(:title, 'Главная страница') %>

<% if @random_card %>
  <%= image_tag(@random_card.picture_url) %>
  <%= 'Колода: #{current_user.current_deck.title}' if current_user.current_deck_id %><br>
  Карточка: <%= @random_card.original_text %>
  <%= form_tag reviews_path, method: :post do %>
    <%= text_field_tag :search %>
    <%= hidden_field_tag(:card_id, @random_card.id) %>
    <%= submit_tag 'Verify' %>
  <% end %>
<% else %>
  <p id="alert">Нет карточек</p>
<% end %>

<div>
  <p id="notice"><%= flash[:success] %></p>
  <p id="alert"><%= flash[:error] %></p>
</div>
