<% provide(:title, 'Главная страница') %>
<b><%= @random_card.original_text %></b>

<%= form_tag reviews_path, method: :post do %>
  <%= text_field_tag :search %>
  <%= hidden_field_tag(:card_id, @random_card.id) %>
  <%= submit_tag 'Verify' %>
<% end %>

<div>
  <p id="notice"><%= flash[:success] %></p>
  <p id="alert"><%= flash[:error] %></p>
</div>
