<b><%= @random_card.original_text %></b>

<%= form_tag check_path, method: :put do %>
  <%= text_field_tag :search %>
  <%= hidden_field_tag(:check_id_card, @random_card.id) %>
  <%= submit_tag 'Verify' %>
<% end %>

<p>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
</p>