<b><%= @random_card.original_text %></b> = 
<%= @random_card.review_date %>

<%= simple_form_for check_index_path, method: :get do |f| %>
  <%= f.input_field :search %>
  <%= f.submit 'Verify' %>
<% end %>

<p>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
</p>
