<% content_for(:title, 'Регистрация нового пользователя') %>
<h1>Регистрация нового пользователя</h1>

<%= simple_form_for :user, url: users_path do |f| %>
  <p>
    <%= f.input :email, label: 'Электронная почта:' %>
  </p>

  <p>
    <%= f.input :password, label: 'Пароль:' %>
  </p>

  <p>
    <%= f.input :password_confirmation, label: 'Повторите пароль:' %>
  </p>

  <p>
    <%= f.button :submit %>
  </p>

<% end %>
