<% content_for(:title, 'Изменение в карточке') %>
<h1>Редактирование</h1>

<%= simple_form_for :card, url: card_path(@card), method: :patch do |f| %>
  <p>
    <%= f.input :review_date, label: 'Review date:' %>
  </p>

  <p>
    <%= f.input :original_text, label: 'Original text:' %>
  </p>

  <p>
    <%= f.input :translated_text, label: 'Translated text:' %>
  </p>

  <p>
    <%= f.file_field :picture %>
  </p>

  <% if @card.picture? %>
  <p>
    <%= f.input :remove_picture, as: :boolean, label: 'Remove picture?' %>
  </p>

  <p>
    <%= image_tag(@card.picture_url) %>
  </p>
  <% end %>

  <p>
    <%= f.button :submit %>
  </p>

<% end %>
