<h1>Редактирование</h1>

<%= form_for :card, url: card_path(@card), method: :patch do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :review_date %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_field :original_text %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_field :translated_text %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
