<% content_for(:title, 'Все карточки') %>

<table id="cards">
  <tr id="top">
    <th>Review date</th>
    <th>Original</th>
    <th>Translate</th>
    <th></th>
    <th></th>
  </tr>

  <% @cards.each do |card| %>

  <tr id="content">
    <td><%= card.review_date %> </td>
    <td><%= card.original_text %>   </td>
    <td><%= card.translated_text %> </td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Delete', card_path(card), method: :delete, data: { confirm: 'Уверен?' }  %></td>
  </tr>

  <% end %>

</table>
