<h1>Новая карточка</h1>

<%= simple_form_for :card, url: cards_path do |f| %>
  <% if @card.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@card.errors.count, "error") %> невозможно создать карточку:</h2>
    <ul>
      <%= @card.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.input :review_date, label: 'Review date' %>
  </p>

  <p>
    <%= f.input :original_text, label: 'Original text'  %>
  </p>

  <p>
    <%= f.input :translated_text, label: 'Translated text' %>
  </p>

  <p>
    <%= f.button :submit %>
  </p>

<% end %>
