<% content_for(:title, 'Новая карточка') %>
<h1>Новая карточка</h1>

<%= simple_form_for :card, url: cards_path do |f| %>

  <p>
    <%= f.input :review_date, label: 'Review date' %>
  </p>

  <p>
    <%= f.input :original_text, label: 'Original text'  %>
  </p>

  <p>
    <%= f.input :translated_text, label: 'Translated text' %>
  </p>

  <p>
    <%= f.file_field :picture %>
  </p>

  <p>
    <%= f.button :submit %>
  </p>

<% end %>
