<% content_for(:title, 'Новая карточка') %>
<h1>Новая карточка</h1>

<%= simple_form_for [@deck, @card] do |f| %>

  <p>
    <%= f.input :original_text, label: 'Original text'  %>
  </p>

  <p>
    <%= f.input :translated_text, label: 'Translated text' %>
  </p>

  <p>
    <%= f.file_field :picture %>
  </p>

  <p>
    <%= f.button :submit, data: { disable_with: 'Сохраняется...' } %>
  </p>

<% end %>
