<% content_for(:title, 'Вход в систему') %>
<%= form_tag user_sessions_path, method: :post do %>

  <div class="user-sessions">
    <%= label_tag 'Электронная почта' %>
    <%= text_field_tag :email %>
  </div>

  <div class="user-sessions">
    <%= label_tag 'Пароль' %>
    <%= password_field_tag :password %>
  </div>

  <div class="user-sessions">
    <%= submit_tag 'Войти' %>
  </div>

<% end %>
