<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">
    <header class="clearfix">
      <h1><%= link_to 'Флэшкарточкер', root_path %></h1>
      <ul class="navigation-links">
        <% if current_user %>
          <li><%= link_to 'Все карточки', cards_path %></li>
          <li><%= link_to 'Добавить карточку', new_card_path %></li>
          <li><%= link_to "Изменить профиль", edit_user_path(current_user.id) %></li>
          <li><%= link_to "Выйти", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Регистрация", new_user_path %></li>
          <li><%= link_to "Войти", login_path %></li>
        <% end %>
      </ul>
    </header>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <section>
         <%= yield %>
    </section>
  </section>
</body>
</html>
